<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${user}"></p>

<form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>

<h2>Auth Page</h2>

<a th:href="@{/login}">login page</a> <br>
<a th:href="@{/registration}">registration  page</a> <br>
<a th:href="@{/foruser}">foruser  page</a> <br>
<a th:href="@{/foradmin}">foradmin  page</a> <br>

</body>
</html>