<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<p th:text="${user}"></p>

<form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>


<h3>To Do List</h3>

<table class="centered">
    <thead>
    <tr>
        <th>Task Title</th>
        <th>Description</th>
        <th>Date</th>
        <th>Is it done?</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="task: ${tasks}">
            <td th:text="${task.title}" />
            <td th:text="${task.description}" />
        <!--    <td th:text="${task.date}" />-->
            <td th:text="${task.date}"/>
            <td th:text="${task.status}"/>
            <td></td>
            <td><a href="" th:href="@{'todo/'+ ${task.id} + '/show'}">Show</a></td>
            <td><a href="" th:href="@{'todo/' + ${task.id} + '/edit'}">Edit</a></td>
            <td><a href="" th:href="@{'todo/' + ${task.id} + '/delete'}">Delete</a></td>
    </tr>
    </tbody>
</table>

<div class="container center">
<form action="#" th:action="@{todo/}" th:object="${newTask}" method="post">
    <p>Task Name: <input type="text" th:field="*{title}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Date: <input type="date"   th:value="*{date}" th:field="*{date}"/></p>
    <p><input type="submit" value="Create task" class="btn btn-primary green"/> <input type="reset" value="Reset" class="btn btn-primary red"/></p>
</form>
</div>

</body>
</html>