<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<p th:text="${user}"></p>

<form th:if="${user != 'anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>


<h3>Статистика срабатывания датчика</h3>

<table class="centered">
    <thead>
    <tr>
        <th>Город</th>
        <th>Описание</th>
        <th>Дата</th>
        <th>Был ли пожар?</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="fire: ${fires}">
            <td th:text="${fire.title}" />
            <td th:text="${fire.description}" />
        <!--    <td th:text="${fire.date}" />-->
            <td th:text="${fire.date}"/>
            <td th:text="${fire.status}"/>
            <td></td>
            <td><a href="" th:href="@{'todo/'+ ${fire.id} + '/show'}">Show</a></td>
            <td><a href="" th:href="@{'todo/' + ${fire.id} + '/edit'}">Edit</a></td>
            <td><a href="" th:href="@{'todo/' + ${fire.id} + '/delete'}">Delete</a></td>
    </tr>
    </tbody>
</table>

<div class="container center">
<form action="#" th:action="@{todo/}" th:object="${newFire}" method="post">
    <p>Город: <input type="text" th:field="*{title}" /></p>
    <p>Описание: <input type="text" th:field="*{description}" /></p>
    <p>Дата: <input type="date"   th:value="*{date}" th:field="*{date}"/></p>
    <p><input type="submit" value="Create fire" class="btn btn-primary green"/> <input type="reset" value="Reset" class="btn btn-primary red"/></p>
</form>
</div>

</body>
</html>