<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fire detect</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<h3>Fire</h3>

<table class="centered">
    <thead>
    <tr>
        <th>Пожар</th>
        <th>Description</th>
        <th>Date</th>
        <th>Is it Done?</th>
        <th>Temperature</th>
        <th>Percent of smoke</th>
    </tr>
    </thead>

    <tbody>
    <tr>
            <td th:text="${fire.title}" />
            <td th:text="${fire.description}" />
            <td th:text="${fire.date}" />
            <td th:text="${fire.status}" />
            <td th:text="${fire.temperature}" />
            <td th:text="${fire.smoke}" />
    </tr>
    </tbody>
</table>
</body>
</html>